@import url('https://fonts.googleapis.com/css2?family=Honk&family=Oswald:wght@200;300;400;500&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
    color: rgb(2, 27, 121) !important;
    font-family: "Merienda", cursive !important;

}

/* Multi pages-------------------- */

img.img-fluid {
    height: 100% !important;
}

.HomeTitle marquee,
.HomeService h4,
.Service,
.homepages h1,
.About h5 {
    font-family: "Dancing Script", cursive;
}

/* Header Pages-------------------- */

.nav-link {
    transition: all 0.4s ease;
    overflow: hidden;
    color: rgb(2, 27, 121) !important;
    font-weight: 600 !important;
}

/* Hover effect with animation */

.nav-link:hover {
    transform: scale(1.1);
    overflow: hidden;
}

/* Optional: Animation keyframes for additional effects */

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* Applying pulse animation on hover */

.nav-link:hover {
    animation: pulse 0.8s ease infinite;
    overflow: hidden;
}

.btnAppointment:hover {
    background-position: right center;
}


/* Home Pages-------------------- */

.HomeTitle {
    background-image: url(./image/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* marquee taxt rainbow----------- */

.rainbow-text {
    display: inline-block;
    animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
    0% {
        color: red;
    }

    14% {
        color: orange;
    }

    28% {
        color: yellow;
    }

    42% {
        color: green;
    }

    57% {
        color: blue;
    }

    71% {
        color: indigo;
    }

    85% {
        color: violet;
    }

    100% {
        color: red;
    }
}



/* Offer text------------------ */


.offer {
    background-color: #00308F;
}

.offer-text {
    font-size: 3rem;
    color: white;
    font-family: 'Merienda', cursive;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes glow {
    from {
        text-shadow: 0px 0px 5px #fff, 0px 0px 5px #614ad3;
    }

    to {
        text-shadow: 0px 0px 20px #fff, 0px 0px 20px #614ad3;
    }
}









/* homeCarousel------------------ */

.homeCarousel img {
    width: 150px !important;
    height: 150px !important;
    border-radius: 50% !important;
}

.slick-dots li button:before {
    font-size: 20px !important;
}

.slick-prev,
.slick-next {
    font-size: 20px !important;
    margin-left: 20px;
}

.slick-prev,
.slick-next {
    margin-right: 30px;
}

.slick-prev:before,
.slick-next:before {
    font-size: 30px !important;
}

.slick-prev,
.slick-next {
    z-index: 10;
}

/* Card pages------------ */

.cardBtn {
    border: 1px solid rgb(2, 27, 121) !important;
    color: rgb(2, 27, 121) !important;
}

.cardBtn:hover {
    background-color: rgb(2, 27, 121) !important;
    color: white !important;
}

/* Footer---------------- */

.footer {
    background-image: url(./image/footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon_hover {
    transition: all 0.4s ease;
    overflow: hidden;
    color: rgb(2, 27, 121) !important;

}

.icon_hover:hover {
    transform: scale(1.1);
    overflow: hidden;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.icon_hover:hover {
    animation: pulse 0.8s ease infinite;
    overflow: hidden;
}








@media screen and (max-width: 768px) {
    #box-2 {
        order: 1;
    }

    #box-1 {
        order: 2;
    }

    #box-4 {
        order: 1;
    }

    #box-3 {
        order: 2;
    }

}